* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.img {
    height: 1500px;
    background: url(../img/header.png) center center/cover no-repeat;
}

.backcolor {
    height: 660px;
    opacity: 0.9;
    background-color: #2d6e70;

}

.container {
    width: 1350px;
    margin: 0 auto;
}


.mainname {
    padding-top: 36px;
    padding-left: 221px;    
}

nav ul li{
    list-style-type: none;
    display:inline;
}
